#grid {
    display: grid;
    row-gap: 1px;
    column-gap: 1px;
    justify-content: center;
}

.tile {
    background-color: purple;
    height: 30px;
    width: 30px;
}

.road {
    background-color: black;
}

.park {
    background: repeating-linear-gradient(
            45deg,
            black,
            black 4px,
            white 4px,
            white 8px
    );
}

.dropoff {
    background-color: green;
}

.pickup {
    background-color: blue;
}
