* {
    font-family: Helvetica, Arial, sans-serif;
}


#grid {
    display: grid;
    row-gap: 3px;
    column-gap: 3px;
    justify-content: center;
}

.tile {
    background-color: purple;
    height: 30px;
    width: 50px;
}

.road {
    background-color: slategray;
}

.parking {
    background: repeating-linear-gradient(
            45deg,
            black,
            black 4px,
            white 4px,
            white 8px
    );
}

.blocked {
    background-color: black;
}

.hub {
    background: repeating-linear-gradient(
            45deg,
            black,
            black 4px,
            yellow 4px,
            yellow 8px
    );
}
